<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
  {% block headers %}
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
    
    <link rel="alternate" type="application/atom+xml"
                           title="{{ SITENAME }} — Flux Atom"
                           href="{{ SITEURL }}/{{ FEED }}" /> 
    
    {% if FEED_RSS %}
    <link rel ="alternate" type="application/rss+xml"
                           title="{{ SITENAME }} — Flux RSS"
                           href="{{ SITEURL }}/{{ FEED_RSS }}" /> 
    {% endif %}
    <!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/html5shiv.js"></script><![endif]-->
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />

      {% if SPAMTRAP %}
	<a href="{{ SPAMTRAP }}"></a>
    {% endif %}

  {% endblock headers %}
  </head>
  <body>
    <div class="wrapper">

      <div class="header-wrapper">
        <div class="main-header">
          <div class="site-title">{{ SITE_TITLE }}</div>
          <div  class="navigation-section">
            <ul>
              {% if SOCIAL %}
                {% for name, url in SOCIAL %}
                  <li><a href="{{ SITEURL }}/{{ url|e }}">{{ name }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="page-content">
        {% block content %}
        {% endblock content %}
      </div>

      <!-- TODO: add the sidebar widgets somewhere else -->

      <footer >
        {% if SOCIAL %}
        |
        {% for url, name in SOCIAL %}
        <span><a href="{{ url|e }}">{{ name }}</a></span>|
        {% endfor %}
        {% endif %}
      </footer>
    </div>
  </body>
</html>
